body {
  width: 100%;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 900px;
  margin: auto;
}
#textarea {
  font-size: 16px;
  width: 100%;
}
#keyboard {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  background-color: #555;
  margin-top: 10px;
  border-radius: 5px;
}
.letter, .command, .number, .special {
  width: 45px;
  height: 45px;
  background: #ccc;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
  border: 2px solid #ccc;
  box-sizing: border-box;
  transition: 0.3s;
}
.letter:hover, .command:hover, .number:hover, .special:hover {
  border: 2px solid black;
}
.letter:active, .command:active, .number:active, .special:active, .active, .long-active {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  color: #fff;
  background: #000;
  transition: 0.3s;
}
.rows {
  display: flex;
  justify-content: center;
  width: 100%;
}

#Backspace {
  width: 110px;
}
#Backslash {
  width: 65px;
}
#Tab {
  width: 90px;
}
#Enter {
  width: 110px;
}
#CapsLock {
  width: 100px;
}
#ShiftLeft {
  width: 120px;
}
#ShiftRight {
  width: 145px;
}
#ContextMenu {
  width: 60px;
}
#Space {
  width: 205px;
}
.long-active, .active {
  border: 2px solid black;
}
